# API Anahtarları
GOOGLE_API_KEY=

# Model Ayarları
GOOGLE_MODEL_NAME=gemini-2.0-flash-exp

# Browser Ayarları
BROWSER_HEADLESS=True
BROWSER_DISABLE_SECURITY=True

# Server Ayarları
SERVER_HOST=0.0.0.0
SERVER_PORT=8000